/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

:focus,
:active {
	/*outline: none;*/
}

a:focus,
a:active {
	/* outline: none;*/
}

/* Links */

a, a:link, a:visited  {
    /* color: inherit; */
    text-decoration: none;
    /* display: inline-block; */
}

a:hover  {
    /* color: inherit; */
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}
/*                        Fonts                        */
@font-face {
    font-family: "georgia-regular";
    src: url("/danywizzz-JSFE2023Q1/shelter/assets/fonts/georgia/georgia-regular.ttf");
  }
  
  @font-face {
    font-family: "georgia-bold";
    src: url("/danywizzz-JSFE2023Q1/shelter/assets/fonts/georgia/georgia-bold.ttf");
  }
  
  @font-face {
    font-family: "georgia-bold-italic";
    src: url("/danywizzz-JSFE2023Q1/shelter/assets/fonts/georgia/georgia-bold-italic.ttf");
  }
  
  @font-face {
    font-family: "georgia-italic";
    src: url("/danywizzz-JSFE2023Q1/shelter/assets/fonts/georgia/georgia-italic.ttf");
  }
  
  @font-face {
    font-family: "arial-regular";
    src: url("/danywizzz-JSFE2023Q1/shelter/assets/fonts/arial/arial-regular.ttf");
  }
  
  @font-face {
    font-family: "arial-italic";
    src: url("/danywizzz-JSFE2023Q1/shelter/assets/fonts/arial/arial-italic.ttf");
  }
/*                        PAGE                        */
html {
    scroll-behavior: smooth;
  }
._container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
}

.main {
    background: #F6F6F6;
}
h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}
h4 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
}
.btn-primary {
    width: 207px;
    height: 52px;
    background: #F1CDB3;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}
.btn-primary:hover {
    background: #FDDCC4;
    transition: ease-in-out 0.3s;
}
.btn-secondary {
    width: 187px;
    height: 52px;
    border: 2px solid #fddcc4;
    border-radius: 50px;
    cursor: pointer;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}
.btn-secondary:hover {
    background: #FDDCC4;
    color: #292929;
    transition: ease-in-out 0.3s;
}

/*                        HEADER                        */

.header {
    height: 120px;
    background: #fff;
}
.header__container {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.header__logo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.header__logo__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
}
.header__logo__subtitle {
    display: inline;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #292929;
}
.header__menu {
    padding-top: 16px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
}
.header__menu__list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 35px;
}
.header__menu__list__item {
    color: #545454;
}
._selected-item {
    display: inline;
    border-bottom: 3px solid #F1CDB3;
    color: #292929;
}

.nav-link {
    color: #545454;
}
/*                        MAIN                        */
.section__pets {
}
.pets__container {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.pets__heading {
    margin: 80px 0 45px 0;
}
.pets__content {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.pets_cards {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    gap: 30px 40px;
}
.pets__card_wrapper {
    width: 270px;
    height: 435px;
    background-color: #fff;
    border-radius: 9px;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.card-katrine {
}
.pets-katrine {
    height: 270px;
    width: 270px;
    background-image: url("../../assets/images/katrine.png");
    background-repeat: no-repeat;
}
.pets-card-title {
}
.card-jennifer {
}
.pets-jennifer {
    height: 270px;
    width: 270px;
    background-image: url("../../assets/images/jennifer.png");
    background-repeat: no-repeat;
}
.card-woody {
}
.pets-woody {
    height: 270px;
    width: 270px;
    background-image: url("../../assets/images/woody.png");
    background-repeat: no-repeat;
}
.card-sophia {
}
.pets-sophia {
    height: 270px;
    width: 270px;
    background-image: url("../../assets/images/sophia.png");
    background-repeat: no-repeat;
}
.card-timmy {
}
.pets-timmy {
    height: 270px;
    width: 270px;
    background-image: url("../../assets/images/timmy.png");
    background-repeat: no-repeat;
}
.card-charly {
}
.pets-charly {
    height: 270px;
    width: 270px;
    background-image: url("../../assets/images/charly.png");
    background-repeat: no-repeat;
}
.card-scarlett {
}
.pets-scarlett {
    height: 270px;
    width: 270px;
    background-image: url("../../assets/images/scarlett.png");
    background-repeat: no-repeat;
}
.card-freddie {
}
.pets-freddie {
    height: 270px;
    width: 270px;
    background-image: url("../../assets/images/freddie.png");
    background-repeat: no-repeat;
}
.pets__navigation {
    padding: 60px 0 100px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.btn-pagination {
    width: 52px;
    height: 52px;
    background-color: transparent;
    border: 2px solid #f1cdb3;
    border-radius: 100px;
    color: #292929;
}
.btn-pagination:hover {
    background-color: #fddcc4;
    border: 2px solid #fddcc4;
    cursor: pointer;
}
.btn-first-page {
}
.btn-inactive {
    border: 2px solid #cdcdcd;
    color: #cdcdcd;
}
.btn-inactive:hover {
    background-color: transparent;
    border: 2px solid #cdcdcd;
    cursor: default;
}
.btn-previous-page {
}
.btn-current-page {
    background-color: #f1cdb3;
    border-style: none;
  }
.btn-next-page {
}
.btn-active {
}
.btn-last-page {
}
/*                        FOOTER                        */

.footer {
    background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20
}
.footer__container {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    gap: 158px;
    align-items: center;
}
.footer__contacts {
    max-width: 278px;
    height: 234px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.contacts__heading {
    width: 278px;
    height: 90px;
    color: #FFFFFF;
}
.contacts__mail {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 20px;
}
.mail-icon {
}
.mail-text {
    color: #F1CDB3;
}
.contacts__phone {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 20px;
}
.phone-icon {
}
.phone-text {
    color: #F1CDB3;
}
.footer__locations {
    max-width: 302px;
    height: 234px;
    display: flex;
    flex-direction: column;
    gap: 34px;
    color: #F1CDB3;
}
.locations__heading {
    color: #FFFFFF;
}
.locations__Boston {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 20px;
}
.locations-boston {
}
.locations-address {
    color: #F1CDB3;
}
.locations__London {
    margin-top: -2px;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 20px;
}
.locations-london {
}
.footer__puppy {
}
.footer-puppy {
    max-width: 300px;
    height: 310px;
}